@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.navbar .links {
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.41);
  margin-left: auto;
}

.navbar {
  color: rgb(255, 255, 255);
  padding: 5px;
  display: flex;
  align-items: center;
  margin: auto;
  border-bottom: 3px solid rgba(0,0,0,.0);
}

.navbar .joinForFree{
  padding-left: 2rem;
  padding-top: 8px;
  padding-right: 2rem;
  padding-bottom: 8px;
  background-color: #000000;
  border: none;
  border-radius: 3rem;
  color: rgb(255, 255, 255);
  
}

.navbar .joinForFree a:hover{
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
      background: rgba(0,0,0,0.8)!important;
  }
}
.view,
body,
html{height:100%}
.navbar{background-color:rgba(0,0,0,.8)}
.page-footer,
.top-nav-collapse{
  color: rgb(255, 255, 255);
  background-color:rgba(0,0,0,.5)
}

@media only screen and (max-width:768px){
.navbar{
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.41);
  background-color:#1C2331}
}

.vignette {
  position: relative;
  overflow:hidden;
}

.vignette:after {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 0%;
  left: 0%;
  background: linear-gradient(
    180deg, 
    rgba(0, 0, 0, 0.41) 0%, 
    rgba(0, 0, 0, 0) 37.5%, 
    rgba(0, 0, 0, 0) 60.42%, 
    rgba(0, 0, 0, 0.41) 100%);
  border-radius: 50%;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.41);
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-weight: bold;
  font-size: 1.3rem;
}

.navbar a:hover {
  color: #000000;
  background-color: rgba(255,255,255,0.5);
  text-shadow: rgba(0, 0, 0, 0.41);
  border-radius: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.relative {
  position: relative;
  filter: contrast(130%);
  width: 100%;
  height: 100%;
}

.options1{
  position: absolute;
  width: 100%;
  height: 300px;
  left: 300px;
  top: 340px;
  
  color: #ffffff;
  
}

.absolute1 {
  position: absolute;
width: 516px;
height: 184px;
left: 746px;
top: 340px;

font-family: Poppins;
font-style: normal;
font-weight: bolder;
font-size: 84px;
line-height: 109.5%;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.41);

/* or 92px */

display: flex;
flex-direction: column;
align-items: left;

color: #000000;
}

.absolute2 {
  position: absolute;
width: 505px;
height: 39px;
left: 750px;
top: 549px;

font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 39px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.41);

/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}

.absolute3{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 156px;
  height: 143.67px;
  left: auto;
  top: 704.33px;
  font-size: 4rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.absolute3 .p1{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.absolute4{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 156px;
  height: 143.67px;
  left: auto;
  top: 704.33px;
  font-size: 4rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.absolute4 .p1{
  font-size: 26px;
  font-weight: 600;
}

.absolute5{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 156px;
  height: 143.67px;
  left: auto;
  top: 704.33px;
  font-size: 4rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.absolute5 .p1{
  font-size: 26px;
  font-weight: 600;
}

.absolute6{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 156px;
  height: 143.67px;
  left: auto;
  top: 704.33px;
  font-size: 4rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.absolute6 .p1{
  font-size: 26px;
  font-weight: 600;
}

.relative2 {
  display: flex;
  position: relative;
  filter: contrast(150%);
}

.absolute11{
  position: relative;
  background-color: #000000;
  width: 33%;
  height: 270px;
  left: 0;
  top: 0;
  color: white;
  
}

.absolute11 p{
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 28.5%;
  top: 22%;
}

.center {
  margin: 0;
  position: absolute;
  font-size: 52px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.absolute12{
  position: relative;
  background-color: #ffffff;
  width: 67%;
  height: 270px;
  left: 0;
  top: 0;
  color: rgb(0, 0, 0);
}

.center2 {
  margin: 0;
  position: absolute;
  width: 80%;
  font-size: 26px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container{
  width: 100%;
  position: relative;
  left: -10px;
  top: 0px;
}

.relative3 {
  position: relative;
  width: 100%;
  height: 100%;
  filter: contrast(150%);
}

.absolute13{
  position: relative;
  background-color: #ffffff;
  width: 33%;
  height: 270px;
  left: 0;
  top: 0;
  color: rgb(0, 0, 0);
}

.center3 {
  margin: 0;
  position: absolute;
  width: 75%;
  font-size: 52px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.absolute14{
  position: relative;
  background-color: #000000;
  width: 67%;
  height: 270px;
  left: 0;
  top: 0;
  color: rgb(255, 255, 255);
}



.center4 {
  margin: 0;
  position: absolute;
  width: 80%;
  font-size: 26px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.absolute21 {
  position: absolute;
width: 516px;
height: 184px;
left: 806px;
top: 200px;

font-family: Poppins;
font-style: normal;
font-weight: bolder;
font-size: 84px;
line-height: 109.5%;
text-shadow: 2px 2px 4px #000000;
/* or 92px */

display: flex;
flex-direction: column;
align-items: left;

color: #ffffff;
}

.absolute22 {
  position: absolute;
width: 505px;
height: 39px;
left: 810px;
top: 409px;

font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 26px;
text-shadow: 2px 2px 4px #000000;
line-height: 39px;
/* identical to box height */

display: flex;
align-items: center;

color: #ffffff;
}

.absolute31{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 100%;
  height: 270px;
  left: 0;
  top: 0;
  color: rgb(255, 255, 255);
}

.center5 {
  margin: 0;
  position: absolute;
  width: 100%;
  font-size: 52px;
  font-weight: 600;
  text-align: center;
  top: 40%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.absolute32{
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 270px;
  left: 0;
  top: 0;
  color: rgb(0, 0, 0);
}


.absolute33{
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 270px;
  left: 0;
  top: 0;
  color: rgb(255, 255, 255);
}

.p1{
  margin: 0;
  position: absolute;
  width: 50%;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  top: 65%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.absolute34{
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 270px;
  left: 0;
  top: 0;
  color: rgb(0, 0, 0);
}

.relative4 {
  display: flex;
  flex-direction: column;
  position: relative;
  filter: contrast(150%);
}

.absolute41{
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  left: 0;
  top: 0;
  color: rgb(0, 0, 0);
}

.center6 {
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center7 {
  margin: 0;
  position: absolute;
  width: 80%;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  top: 30%;
  left: 50%;
  margin-bottom: 200px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.authForm {
  padding: 10px;
  margin: 10% auto;
  background-color: #b9cced;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 20px;
}

.authForm .nameRow div {
  display: inline-block;
  margin: 10px;
}

.authForm .addressRow div {
  display: inline-block;
  margin: 10px;
}

.authForm .selectors div {
  display: inline-block;
  margin: 25px;
}

.authForm label{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.authForm input[type=submit]{
  display: block;
  margin: 10px auto;
  background-color: white;
  border: 2px solid #b9cced;
  border-radius: 20px;
  padding: 10px;
}

.authForm input[type=submit]:hover{
  border: 2px solid;
  font-weight: bold;
}

.authForm input[type=text],input[type=password]{
  padding: 10px;
  border: none;
  border-bottom: 3px solid;
  box-sizing: border-box;
  background-color: inherit;
  margin-bottom: 10px;
}

.authForm input[type=text],input[type=password]:focus {
  outline: none;
}

.authForm select {
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.authForm select:focus {
  outline:none;
}

.authForm input[type=date] {
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.authForm input[type=date]:focus {
  outline: none;
}

.Sidebar {
  margin-top: 5%;
  height: 800px;
  width: 250px;
  background-color: #2f4050;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}
.SidebarList #active{
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;

}

.row #title {
  flex: 70%;
}

.adminHome body{
  background-color: rgb(23, 193, 199);
  
}